.drawer-container {
  height: 100vh;
}

.custom-drawer {
  width: 220px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 70px;
  }
}

mat-drawer-content {
  transition: margin-left 0.3s ease;
  margin-left: 220px;

  &.collapsed-content {
    margin-left: 70px;
  }
}
